<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.greenpudding">

    <application
        android:label="@string/app_name_pro">

        <activity
            android:name=".pro.activities.WallpaperPreferencesActivity"
            android:exported="true"
            android:label="@string/wallpaper_setting"></activity>

        <service
            android:name=".pro.services.GreenPuddingWallpaperService"
            android:label="@string/wallpaper_name"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"></action>
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/wallpaper"></meta-data>
        </service>


    </application>

</manifest>